<div class="card">
  <% level = mission.levels.find_by(user: mission.user) %>
  <% if level %>
    <% if level.number == 1 %>
      <% image = "Mission1.png" %>
    <% elsif level.number == 2 %>
      <% image = "Mission2.png" %>
    <% elsif level.number == 3 %>
      <% image = "Mission3.png" %>
    <% elsif level.number == 4 %>
      <% image = "Mission-Complete.png" %>
    <% else %>
      <% image = "default.png" %> <!-- Default image if level number is not 1-4 -->
    <% end %>
  <% else %>
    <% image = "default.png" %> <!-- Default image if level is missing -->
  <% end %>

  <div class="card__body" style="background-image: url(<%= asset_path(image) %>); background-size: cover; background-position: center;">
    <div class="card__text">
      <p class="card__user">
        <%= link_to "#{mission.user.name}", user_path(mission.user), class: "card__user" %>
      </p>
      <p class="card__title">
        <%= link_to mission.goal, mission_path(mission), class: "card__title" %>
      </p>
    </div>
  </div>
</div>
