
    <main>
        <section id="introduction">
            <h1>はじめの３歩をおうえんします！</h1>
            <%= image_tag 'route.png', alt: 'Route Image', id: 'route' %>
        </section>
         <section id="how-to-use">
        <h2><%= link_to 'つかいかた', 'https://twebpage.com/blog/blog/251/', target: '_blank', class: 'btn btn-info' %></h2>
        </section>
       
        <section id="all-missions">
            <h2>みんなのミッション</h2>
        </section>
        <div class="card__wrapper">
      
     

<% @missions.each do |mission| %>
  <%= render partial: 'mission', locals: { mission: mission } %>
<% end %>

    </div>
    </main>
   