
    <main>
        <section id="introduction">
            <h1>はじめの３歩をおうえんします！</h1>
            <%= image_tag 'route.png', alt: 'Route Image', id: 'route' %>
        </section>
        <section id="how-to-use">
            <h2>つかいかた</h2>
        </section>
        <section id="set-mission">
            <h2>ミッションを設定する</h2>
        </section>
        <section id="all-missions">
            <h2>みんなのミッション</h2>
        </section>
        <div class="card__wrapper">
      
     

<% @missions.each do |mission| %>
  <%= render partial: 'mission', locals: { mission: mission } %>
<% end %>

    </div>
    </main>
   